@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 1rem;
}
header, 
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
header {

    height: 20%;
}
header > div {
    text-align: center;
}
#word-sec {
    height: 30%;
}
#word-sec .word {
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.word h2 {
    font-size: 2em;
    position: relative;
    width: 5rem;
    height: 5rem;
    text-align: center;
    color: green;
}
.word h2::after {
    position: absolute;
    bottom: 40%;
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: #ffd846;
    box-shadow: 0 -1px 5px 0 #ffdd60;
}
.True::after {
    background-color: lightgreen !important;
    box-shadow: 0 -1px 5px 0 rgb(178, 235, 178) !important;
}
.False::after {
    background-color: lightcoral !important;
    box-shadow: 0 -1px 5px 0 rgb(241, 150, 150) !important;
}
#detail-sec {
    height: 50%;
}
#detail-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#detail-div div {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
}
#result-board {
    padding: 1rem;
    border: solid 1px gray;
    color: lightcoral;
    font-size: 3em;
    font-weight: bold;
    height: 4em !important;
}

#hangman img {
    width: 60%;
    height: 60%;
}
#keyboard {
    display: none !important;
}
#creator {
    position: fixed;
    z-index: 999;
    background-color: lightgreen;
    top: 0;
    left: 0;
    width: 15%;

}
@media screen and (max-width:550px) {
    .word h2 {
        font-size: 1em;
        height: 3rem;
    }
    #result-board {
        font-size: 2em;
        width: 9em !important;
        height: 6em !important;
    }
    #hangman img {
        width: 100%;
        height: 100%;
    }
    #detail-div {
        flex-direction: column-reverse;
    }
    #keyboard {
        height: auto !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #creator {
        width: 100%;
        height: 1.5rem;
        font-size: 1rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #detail-div div {
        width: 100%;
    }
    #result-board {
        height: auto;
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem 5% 0 5%;
        padding: auto;
        overflow-x: auto;
    }
    .typebtn {
        background: transparent;
        width: 2rem;
        text-align: center;
        height: 2rem;
        margin: 0 1% 0;
        color: rgb(67, 67, 255);
        border: solid 0.5px rgb(67, 67, 255);
        border-radius: 50%;
    }
    #word-sec .word {
        width: 100%;
    }
}
